.Rproj.user
.Rhistory
.RData
.Ruserdata
*_cache
highdim/*_files
inference/*_files
linear-models/*_files
ml/*_files
prob/*_files
summaries/*_files
.DS_Store
copy-qmds.R
crossref.sh
cover.png
/.quarto/
*.tex
*.pdf
notes.txt
test-538-model-on-2024.R
linear-models/extra-multivariable-regression.qmd